<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add league</title>
</head>
<body>
  <form action="/admin/add-league" method="POST">
    <table>
        <tr>
            <td>League Title</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>League Year</td>
            <td><input type="text" name="year"></td>
        </tr>
        <tr>
            <td>League Season</td>
            <td><select name="season">
                <option value="UNKNOWN">Select..</option>
                <option value="SUMMER">Summer</option>
                <option value="WINTER">Winter</option>
                <option value="AUTUMN">Autumn</option>
            </select></td>
        </tr>
        <tr>
            <td><input type="submit" value="add a new league"></td>
        </tr>
    </table>

  </form>
</body>
</html>