<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for League</title>
</head>
<body>
    <body>
        <form action="/admin/add-league" method="POST">
          <table>
              <tr>
                  <td>Player ID</td>
                  <td><input type="text" name="playerId"></td>
              </tr>
              <tr>
                  <td>Player Name</td>
                  <td><input type="text" name="playerName"></td>
              </tr>
              <tr>
                  <td>League ID</td>
                  <td><input type="text" name="leagueId"></td>
              </tr>
              <tr>
                  <td><input type="submit" value="register to a League"></td>
              </tr>
          </table>
      
        </form>
      </body>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for League</title>
</head>
<body>
   
    <form action="/admin/add-league" method="POST">
    <label>First_Name</label>
    <input type="text" name="firstname" size="15" ><br>
    <label>Last_Name</label>
    <input type="text" name="lastname"><br>
    <label>Season</label>
    <select>
        <option>select</option>
        <option>summer</option>
        <option>winter</option>
        <option>rainy</option>

    </select><br>
    <label>Phone number</label>
    <input type="text" name="Ph number"><br>
    <label>Email</label>
    <input type="text" name="Email"><br>
    <button type="button">submit</button>
    <button type="button" class="btn btn-link"><a href="/">HOME</a></button>
</form>
</body>
</html> -->