<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>league home page</title>
</head>
<body>
    <p><h1>Duke's Soccer League</h1></p>
    <hr/>
    <ul>
        Admin
        <li><a href="/admin/add-league">Add A New League</a></li>
    </ul>
    <ul>
        Player
        <li><a href="/display/display-league">Display All Available League</a></li>
        <li><a href="/display/register-league">Register For A League</a></li>
    </ul>

</body>
</html>
